# Created by .ignore support plugin (hsz.mobi)
.idea/
cs102/
homework01/__pycache__/
homework02/__pycache__/
homework03/__pycache__/
homework04/__pycache__/
homework05/__pycache__/
homework04/config.py
Would skip repository pybook-assignments/